.todo {
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: linear-gradient(rgba(62, 111, 202, 0.5), rgba(4, 9, 89, 0.9));
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    justify-content: start;
    align-items: center ;

}
.todoHeader{
    font-size: 60px;
    padding: 20px;
}
input{
    padding: 5px;
    margin-bottom: 20px;

}
.addButton{
    width: 50px;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background: linear-gradient(to right, #3498db, #2ecc71); */
    background: linear-gradient(rgba(62, 111, 202, 0.7), rgba(4, 9, 89, 0.9));
    color: #fff;
    
}

.activity{
    text-decoration: line-through;
  }
